@charset "UTF-8";

/* FF scrollbar */
:root { scrollbar-color: rgb(210,210,210) #1a1a1a }

/* COVER */

.cover-main > img { margin-bottom: 16px ; width: 1723px } /* cover logo */
.cover-main { color: white } /* all cover txt color */
section.cover p { /* cover tagline size / position */
    font-size: 2rem !important ;
    margin-bottom: 48px ;
    line-height: 2.3rem !important ;
}

/* Buttons */
.cover-main > p:last-child a { /* all buttons */
    padding: 16px 68px !important;
    font-size: 1.4rem !important ;
    border-radius: 0 !important ;
    border-color: white !important ;
    border-width: 3px !important ;
    color: white !important ;
    transition: 0.04s !important ;
}
.cover-main > p:last-child a:hover { /* 1st button hover */
    background-color: blue ;
    color: white !important ;
    opacity: 1 !important ;
}
.cover-main > p:last-child a:last-child { /* 2nd button */
    padding: 16px 60px !important;
    border-color: white !important ;
    background-color: white !important ;
    color: black !important
}
.cover-main > p:last-child a:last-child:hover { /* 2nd button hover */
    background-color: blue !important ;
    border-color: blue !important ;
    color: white !important ;
}

/* NAV */

.app-nav { right: 35px ; top: 15px }
.app-nav a { color: white !important ; font-size: 1.5rem }

/* LANGUAGE SELECTOR */

#language-selector { position: relative ; top: -25px ; right: 32px }
#language-selector svg {
    position: relative ; top: 9px ; right: 9px ; cursor: pointer }
#language-selector a { font-size: 30px }
#language-selector li { width: 88% }
#language-menu {
    display: none ; position: absolute ; top: 127% ; right: -18px ;
    width: 256px ; font-size: 28px !important; text-align: left ;
    background-color: black ; border: 3px solid #cccccc ; border-radius: 4px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) ; padding: 5px 0 ; z-index: 1 }
.dropdown--hoverable:hover #language-menu { display: block }
.dropdown-link {
    display: block ; padding: 5px 15px ; color: #333333 ; text-decoration: none }
.dropdown-link:hover { background-color: #42b983 }
#dropdown-button { position: relative ; padding-right: 20px }
#dropdown-button:after {
    content: '▼' ; position: absolute ; right: -18px ; top: 0.159rem ;
    transform: scale(0.7) }

/* GITHUB BADGE */

.github-corner svg { fill: black ; height: 115px ; width: 115px }

/* SIDEBAR */

.sidebar { background-color: #f4f4f4 }
.sidebar h1 a { font-size: 2.5rem !important }
.sidebar a { font-size: 1.5rem !important ; line-height: 3.5rem }
.search { background-color: white ; font-size: 1.3rem }
.matching-post { transform: scale(.7) ; margin: -31px }
.app-name { margin: 19px 18px 13px !important }
.app-name-link img { padding: 0 2px }
.sidebar-toggle { background-color: inherit }
.sidebar ul > ul:nth-of-type(2) { display: none } /* hide showcase apps */
.sidebar li img { display: none } /* hide sidebar icons */

/* MAIN */

#repo-cover { display: none } /* hide repo cover */
article > div:nth-child(2) img { height: 2.5rem } /* zoom shields */
article > h2:first-of-type span { display: none !important } /* hide ABOUT heading */
article > p:first-of-type { margin-top: -51px } /* increase top-margin of description */
main h2 { font-size: 3rem !important ; position: relative ; right: 15px } /* zoom + shift headings left */
main p { font-size: 1.65rem !important ; line-height: 2.5rem !important}
main li { font-size: 1.6rem !important ; line-height: 2.1rem }
main h3 { font-size: 2.3rem !important }
main code { font-size: 1.35rem !important ; line-height: 2.2rem !important }
img[type="separator"] { display: none } /* hide section separators */

/* Code */
pre, code, .punctuation { color: white !important ; background: black !important }
.lang-js { font-size: 1.3rem !important }
.docsify-copy-code-button, .success, .error {
    background: inherit !important ;
    padding: 13px 18px 13px 15px !important ;
    font-size: 1.1rem !important ;
    color: rgb(217, 217, 227) !important ;
    right: 1px ; /* eliminate code block h-scroll */
}

/* Showcase */
h3 img { height: 28px !important ; width: auto !important ; margin: 0 10px -2px 0 }
h3 a { text-decoration: none ; color: #34495e !important }
h3 a:hover { text-decoration: underline #42b983 }
img[src*="promo-tile"] { width: 1111px  } /* enlarge promo tiles */

/* Contributors */
$contributors: ('contributors', '贡献者', '貢献者', '기여자', 'योगदानकर्ता', 'mitwirkende',
    'colaboradores', 'contributeurs', 'contributori', 'bijdragers', 'contribuidores', 'người-đóng-góp');
@each $translation in $contributors {
    $id: unquote('#🧠-') + $translation;
    h2#{$id}, h2#{$id} ~ p { text-align: center } /* center contributors section */
    #{$id} ~ * img { width: 74px } /* zoom contributor avatars */
    #{$id} ~ br { display: none } /* hide trailing line break */
}

/* Footer */
#star-history { display: none } /* hide Star History section */
#footer { text-align: center ; margin-top: -11px } /* general alignment */
#mc_embed_signup h2 { font-size: 2.5rem !important ; margin-bottom: -16px } /* 1st CTA */
.mc-field-group { margin: -4px 0 95px } /* input row div v-margins */
.mc-field-group input { height: 55px ; box-shadow: 14px 8px 28px lightgrey } /* input row height/shadow */
input#mce-EMAIL { /* email field */
    border-radius: 0 ; width: 32% ; min-width: 250px ;
    margin-bottom: 18px ; border: 1px solid #ccc ; outline: none }
input#mce-EMAIL, input#mce-EMAIL::placeholder { font-size: 1.55rem ; text-indent: 15px }
#mc-embedded-subscribe { /* sub button */
    font-size: 1.45rem ; color: white ; background: black ; cursor: pointer ;
    width: 200px ; margin-left: -3px ; border-radius: 0 ; border: 1px ;
    position: relative ; bottom: 1px /* correct for font-size shifting */ }
