/* COVER */

.cover-main > img { margin-bottom: 16px } /* cover logo */
.cover-main { color: white } /* all cover txt color */
section.cover p { /* cover tagline size / position */
    font-size: 2rem !important ;
    margin-bottom: 48px ;
    line-height: 2.3rem !important ;
} 

/* Buttons */
.cover-main > p:last-child a { /* all buttons */
    padding: 16px 68px !important;
    font-size: 1.4rem !important ;
    border-radius: 0 !important ;
    border-color: white !important ;
    border-width: 3px !important ;
    color: white !important ;
    transition: 0.04s !important ;
}
.cover-main > p:last-child a:hover { /* 1st button hover */
    background-color: blue ;
    color: white !important ;
    opacity: 1 !important ;
}
.cover-main > p:last-child a:last-child { /* 2nd button */
    padding: 16px 60px !important;
    border-color: white !important ;
    background-color: white !important ;
    color: black !important
}
.cover-main > p:last-child a:last-child:hover { /* 2nd button hover */
    background-color: blue !important ;
    border-color: blue !important ;
    color: white !important ;
}

/* NAV */

.app-nav { right: 35px ; top: 15px }
.app-nav a { color: white !important ; font-size: 1.5rem }

/* GITHUB BADGE */

.github-corner svg { fill: black ; height: 115px ; width: 115px }

/* MAIN */

main h2 { font-size: 3rem !important }
main p { font-size: 1.65rem !important ; line-height: 2.5rem !important}
main li { font-size: 1.6rem !important ; line-height: 2.1rem }
main h3 { font-size: 2.3rem !important }
main code {font-size: 1.35rem !important ; line-height: 2.2rem !important }

/* SIDEBAR */

.sidebar { background-color: #f4f4f4 }
.sidebar h1 a { font-size: 2.5rem !important }
.sidebar a { font-size: 1.5rem !important ; line-height: 3.5rem }
.search { background-color: white ; font-size: 1.3rem }
.matching-post { transform: scale(.75) }
.app-name { margin: 19px 18px 13px 18px !important }
.app-name-link img { padding: 0 2px }
.sidebar-toggle { background-color: inherit }

/* CODE */

pre, code, .punctuation {
    background: black !important ;
    color: white !important ;
}
.lang-js { font-size: 1.3rem !important }
.docsify-copy-code-button, .success, .error {
    background: inherit !important ;
    padding: 13px 18px 13px 15px !important ;
    font-size: 1.1rem !important ;
    color: rgb(217, 217, 227) !important ;
    right: 1px ; /* eliminate code block h-scroll */
}
