name: Lint pushes/PRs
on: [push, pull_request]

jobs:

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:

      - name: Checkout repository code
        uses: actions/checkout@v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
